<div class="btn-container text-right">
  <a href="/admin/settings">Settings page</a>
  <a class="logout-button" href="/auth/logout">Logout</a>
</div>


<section class="container">

</section>


<section class="container" id="bookings-section">

  <!--************ FILTER per DATE************-->
  <h2>All bookings</h2>
  <span>Here you can check all the boookings for your restaurant or choose to filter them according to a specific date.</span>
  <form action="/admin/filter-bookings" action="GET">
    <p>Select date: <input autocomplete="off" type="text" class="datepicker-admin" name="date" required></p>
    <p>Select time slot <select name="time"></p>
    <option value="{{values.[1]._1Slot}}">{{values.[1]._1Slot}}</option>
    <option value="{{values.[1]._2Slot}}">{{values.[1]._2Slot}}</option>
    </select>
    <button style="width: 80px" class="btn btn-primary" type="submit">Filter</button><br><br>
  </form>

  <table>
    <thead>
      <th>Name</th>
      <th>When</th>
      <th>Phone</th>
      <th>People</th>
      <th>Action</th>
    </thead>
    <tbody>
      {{#each values.[0]}}
      <tr>
        <td>{{firstName}} {{lastName}} </td>
         <td>{{date}} | {{time}}</td>
        <td>{{phone}} </td>
        <td>{{people}}</td>
        <td>
          <!--************ DELETE ************-->
          <form action="/admin/{{id}}/delete" method="POST">
            <button class="btn btn-danger" type="submit">Delete</button>
          </form>
          <!--************ EDIT ************-->
            <a class="btn btn-primary" href="/admin/{{id}}/edit">Edit</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>


<!--************ ADD ************-->
<section class="container" id="add-booking-section">



  <h2>Add a booking</h2>
  <p>Did you just receive a call and want to add a booking? Here you go.</p>
  <form action="/admin/add-booking" method="POST">

    <input autocomplete="off" placeholder="Select date" type="text" class="datepicker-admin" name="date">
    <!-- same #id 'datepicker' of frontend datepicker -->
    <select name="time">
      <option value="{{values.[1]._1Slot}}">{{values.[1]._1Slot}}</option>
      <!-- values coming from the /auth/private route in auth.js -->
      <option value="{{values.[1]._2Slot}}">{{values.[1]._2Slot}}</option>
    </select>
    <input type="text" name="firstName" placeholder="First name">
    <input type="text" name="lastName" placeholder="Last name">
    <input type="number" name="people" placeholder="How many people">
    <input type="tel" name="phone" placeholder="Phone">

    <button class="btn btn-success" type="submit">Add booking</button>

    <form>
</section>

