<a href="/auth/private">Admin page</a>
<a href="/auth/logout">Logout</a>
<h1>Setting page</h1>


{{#each config}}
<form action="/admin/config" method="POST">
Max Seats available<input id="maxSeats" type="number" name="maxSeats" value={{maxSeats}} required>
First time slot<input id="first-time-slot" type="number" name="_1Slot" value={{_1Slot}} required>
Second time slot<input id="second-time-slot" type="number" name="_2Slot" value={{_2Slot}} required>
<button>Update</button>
</form>
{{/each}}



<h3>Unavailable dates</h3>
<form>
  Add unavailable date <input>
</form>
<ul id="unavailable-dates-container">
 
</ul>

{{!-- 

<form action="/admin/settings/unavailable-dates">

<button type="submit">Show unavailable dates</button>
</form>




{{#each dates}}
  {{@index}}: {{this}}
{{/each}} --}}

