  
  <h1>Thank you for your booking</h1>
  {{#if succesfullMessage}}
    You have succesfull completed the booking. See you soon ... and come hungry :)
  {{/if}}


<h2>Booking review</h2>
{{date}}
{{time}}
{{people}}
{{firstName}}
{{lastName}}
{{phone}}
{{email}}
{{message}}

<a href="/">Home</a>