  <section class="container text-center" style="margin-top: 120px">

 
  <h2>Thank you for your booking!</h2>
  {{#if succesfullMessage}}
    <p>You have succesfull completed the booking and received a confirmation email.<br> See you soon ... and come hungry :)</p>
  {{/if}}


{{!-- <h2>Booking review</h2>
{{date}}
{{time}}
{{people}}
{{firstName}}
{{lastName}}
{{phone}}
{{email}}
{{message}} --}}

<a style="display:block; margin-top: 40px"href="/auth/private">Check Admin Demo</a> 
</section>